/* card things */
:root {
  --queen-blue: #436DA0;
  --spanish-gray: #9F9F9A;
  --baby-powder: #FFFFF8;
  --cambridge-blue: #B6CCBB;
  --china-rose: #AB5F80;
  --tea-green: #D9E5BD;
  /* use these variables like this: var(--queen-blue); */
}

.cardcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1px;
  }
.animcard {
    display: flex;
    height: 200px;
    width: 200px;
    background-color: var(--baby-powder);
    border-radius: 10px;
    box-shadow: -1rem 0 3rem var(--spanish-gray);
    margin-left: -20px;
    /* transition: 0.4s ease-out; */
    position: relative;
    left: 0px;
}
.front {

}
.back {
  background-color: var(--china-rose) !important;
  transform: rotateY(-180deg);
}
.animcard:hover {
  transform: translateY(-50px);
  background-color: var(--cambridge-blue);
  transition: 0.4s ease-out;
  z-index: 100;
  border: 1px solid var(--baby-powder);
  box-shadow: 0rem 0 3rem var(--spanish-gray);
}
.animcard:hover ~ .animcard {
  position: relative;
  transition: 0.4s ease-out;
}
.title {
  color: var(--spanish-gray);
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}
.animcard:hover .title {
    color: var(--baby-powder);
}
.animcard:hover small {
  color: var(--tea-green);
}
.cardbody{
  position: absolute;
  top: 120px;
  left: 20px;
  height: 5px;
}
  /* .animacard:hover .front {

  } */
  /* .animcard:hover .back {
    display: show;
  } */
/* end card things */