/* card things */
.cardcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1px;
  }
.animcard {
    display: flex;
    height: 200px;
    width: 200px;
    background-color: #EEEEEE;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem darkslategray;
    margin-left: -20px;
    /* transition: 0.4s ease-out; */
    position: relative;
    left: 0px;
}
.front {

}
.back {
  background-color: red !important;
  transform: rotateY(-180deg);
}
.animcard:hover {
  transform: translateY(-50px);
  background-color: #85AE9A;
  transition: 0.4s ease-out;
  z-index: 100;
  border: 1px solid #eeeeee;
  box-shadow: 0rem 0 3rem #cccccc;
}
.animcard:hover ~ .animcard {
  position: relative;
  transition: 0.4s ease-out;
}
.title {
  color: #6C757D;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}
.animcard:hover .title {
    color: white;
}
.cardbody{
  position: absolute;
  top: 120px;
  left: 20px;
  height: 5px;
}
  /* .animacard:hover .front {

  } */
  /* .animcard:hover .back {
    display: show;
  } */
/* end card things */