* {
  margin: 0;
  padding: 0;
  /* border: 1px dotted pink; */
}
:root {
  --queen-blue: #436DA0;
  --spanish-gray: #9F9F9A;
  --baby-powder: #FFFFF8;
  --cambridge-blue: #B6CCBB;
  --china-rose: #AB5F80;
  --tea-green: #D9E5BD;
  /* use these variables like this: var(--queen-blue); */
}
body {
  font-family: sans-serif;
  background-color: var(--queen-blue);
}
header {
  text-align: center;
  padding: 10px 40px;
  background-color: var(--queen-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--baby-powder);
}
#pwg {
  padding: 0;
  margin: 0 20px;
}
#pwg h1 {
  display: block;
  padding-bottom: 0;
  margin-bottom: -8px;
  letter-spacing: 0.1em;
}
#pwg p {
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
  font-size: 10.5pt;
}
#pwg span {
  font-family: "Euphoria Script", cursive;
  font-size: 18pt;
}
.empty img {
  width: 100px;
  height: 100px;
  margin-right: 80px;
}
.signin a {
  padding: 10px;
  font-size: 10pt;
  color: var(--baby-powder);
  letter-spacing: 0.1em;
  padding: 10px;
}
.signin a:hover {
  color: var(--cambridge-blue);
  text-decoration: none;
  background-color: var(--baby-powder);
  border-radius: 5px;
}
h3.greeting {
  text-align: center;
  margin-top: 20px;
}
a.all-caps {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.16em;
  font-size: 13pt;
}
nav.navbar,
.navbar-light,
.bg-light {
  border-radius: 4px;
  border: 0.75px solid var(--spanish-gray);
  box-shadow: 3px 3px silver;
  background-color: var(--baby-powder) !important;
}
a.nav-link:hover,
a.google:hover {
  background-color: var(--spanish-gray);
  border-radius: 5px;
  color: var(--baby-powder) !important;
}
a.google {
  color: var(--baby-powder);
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}
.welcome {
  background-color: var(--baby-powder);
  font-size: 11.5pt;
  color: var(--spanish-gray);
}
h1.welcomeh1 {
  color: var(--queen-blue);
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}
h3.prayerh3,
h3.profileh3 {
  margin-top: 20px;
  text-shadow: 2px 2px var(--spanish-gray);
}
.allrequests,
.profile {
  background-color: var(--tea-green);
}
.requestform {
  box-shadow: -1rem 0 3rem var(--queen-blue);
  background-color: var(--china-rose);
  background-image: linear-gradient(var(--china-rose) 50%, var(--spanish-gray) 50%);
}
.profile {
  padding: 40px;
}
.prayerh3,
.profileh3 {
  color: var(--baby-powder);
}
form {
  color: var(--baby-powder);
}
input,
textarea {
  border-radius: 5px;
}
small {
  font-size: 8pt;
  color: var(--queen-blue);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.left-sidebar {
  /* margin-top: 20px; */
  height: fit-content;
  background-color: var(--cambridge-blue);
  border-radius: 10px;
  border: 2px dashed var(--spanish-gray);
  box-shadow: 2px 2px var(--spanish-gray);
}
.left-sidebar > h5,
h6,
.right-main h5 {
  color: var(--baby-powder);
  padding: 10px;
  /* text-align: center; */
  text-shadow: 2px 2px var(--spanish-gray);
}
.initialavatar {
  margin: 20px auto;
  font-size: 32pt;
  border-radius: 50%;
  width: fit-content;
  padding: 20px;
  color: var(--china-rose);
  background-color: var(--baby-powder);
  border: 2px dotted var(--spanish-gray);
  text-shadow: 2px 2px lightyellow;
}
.left-sidebar table {
  margin: 0 auto;
}
.right-main {
  background-color: var(--baby-powder);
}
.todolist {
  padding: 40px;
  margin: 20px auto;
  background-color: var(--spanish-gray);
  box-shadow: 2px 2px var(--baby-powder);
  border-radius: 10px;
}
.todolist ul {
  margin-left: 30px;
}
.todolist > ul > li {
  list-style: none;
  margin-left: 30px;
}
.todolist ul li {
  border: none;
  border-bottom: 1px dashed var(--china-rose);
  margin-left: 30px;
}
.todolist h2,
.todolist h4,
.todolist p {
  color: var(--baby-powder);
  text-shadow: 2px 2px #222;
}
