* {
    margin : 0;
    padding : 0;
    border: 1px dotted pink;
}

body {
    font-family: sans-serif ;
}
header {
    text-align: center;
    padding: 10px 40px;
    background-color: #0C3B5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
header a {
    /* color: white;
    letter-spacing: 0.1em;
    padding: 10px; */
}
header a:hover {
    /* color: #85AE9A;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px; */
}
#pwg {
    padding: 0;
    margin: 0 20px;
}
#pwg h1 {
    display: block;
    padding-bottom: 0;
    margin-bottom: -8px;
    letter-spacing: 0.1em;
}
#pwg p {
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    font-size: 10.5pt;
}
#pwg span {
    font-family: 'Euphoria Script', cursive;
    font-size: 18pt;
}
.empty img {
    width: 100px;
    height: 100px;
    margin-right: 80px;
}
.signin a{
    padding: 10px;
    font-size: 10pt;
    color: white;
    letter-spacing: 0.1em;
    padding: 10px;
}
.signin a:hover {
    color: #85AE9A;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
}
h3.greeting {
    text-align: center;
    margin-top: 20px;
}
a.all-caps {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.16em;
    font-size: 13pt;
}
nav.navbar, .navbar-light, .bg-light {
    border-radius: 4px;
    border: 0.75px solid grey;
    box-shadow: 3px 3px silver;
    background-color: #eeeeee !important;
}
a.nav-link:hover, a.google:hover {
    background-color: #cccccc;
    border-radius: 5px;
}
a.google {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}
.welcome {
    background-color: white;
    font-size: 11.5pt;
    color: #777777;
}
h1.welcomeh1 {
    color: #0C3B5D;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
h3.prayerh3 {
    margin-top: 20px;
}
/* card things */
.cardcontainer {
    position: absolute;
    height: 300px;
    width: 600px;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
  }
  
  .animcard {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .animcard:not(:first-child) {
      margin-left: -50px;
  }
  
  .animcard:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .animcard:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .animcard:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .animcard:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }
/* end card things */