{% extends "base.html" %} {% block content %} {% load socialaccount %}
<div></div>
{% if user.is_authenticated %}
<form class="" action="{% url 'prayers:create' %}" method="post">
  {% csrf_token %}
  <div></div>
  {{ prayerForm.as_p }}
  <!--  ".as_p" is an example of an option you can attach to the form inputs
        "as_table" and "as_ul" are a few others...-->
  <input type="submit" value="register" />
</form>
{% else %}
<a href="{% provider_login_url 'google' %}">Login with Google</a>
{% endif %}
<div></div>
{% endblock %}
